

.loader {
  display: block;
  position: relative;
  width: 50px;
  height: 50px;
  margin: 0 auto;
}

.hidden {
  display: none;
}

.loader:before,
.loader:after {
  content: '';
  border-radius: 50%;
  position: absolute;
  inset: 0;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2) inset;
}
.loader:after {
  box-shadow: 1px 2px 1px #4e75ff inset;
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.general-list {
  margin: 32px auto;
  padding: 0 12px;
  display: flex;
  flex-wrap: wrap;
  max-width: 1128px;
  gap: 24px;
}

.general-list-item {
  overflow: hidden;
  box-sizing: border-box;
  border: 1px solid #808080;
  display: flex;
  flex-basis: calc((100% - 2 * 24px) / 3);
  flex-direction: column;
  height: 300px;
  border-radius: 4px;
  min-width: 320px;
}
.general-list-item a {
  height: 100%;
  overflow: hidden;
}
.general-list-item img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
}

.general-list-item div {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 4px 20px;
  align-items: center;
}

.general-list-item-p {
  display: flex;
  flex-direction: column;
  align-items: center;
}
